body {
  width: 270px;
}

.hashes {
  text-align: center;
  color: #778899;
  font-size: 18px;
}

.button {
  display: block;
  margin: 15px auto;
  padding: 15px 30px;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #778899;
}

.button:focus {
  outline: none;
}

.line {
  height: 1px;
  border: none;
  background-color: #778899;
}

.title {
  margin: 0;
  text-align: center;
  font-weight: normal;
  color: #778899;
}

.label {
  width: 120px;
  margin-top: 10px;
  display: inline-block;
  color: #778899;
  font-size: 13px;
}

.input {
  padding: 5px;
  border: 1px solid #778899;
  border-radius: 4px;
}

.input-error {
  box-shadow: 0 0 5px #D84742;
  border: 1px solid #D84742;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px #778899;
}

.tooltip-wrapper {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
  border: 1px solid #778899;
  border-radius: 3px;
  font-size: 9px;
  text-align: center;
}

.tooltip-wrapper:hover {
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  margin-top: -50px;
  background-color: red;
  height: 40px;
  width: 130px;
  font-size: 11px;
}

.percent {
  color: #778899;
}

.button-stop {
  background-color: #D84742;
}

.button-run {
  background-color: #9ACD32;
}

.button-save {
  background-color: #0590dd;
}

.button-save:hover {
  background-color: #056AB7;
}

.input-large {
  display: block;
  width: 260px;
  margin-top: 5px;
}

.input-small {
  width: 40px;
}

.success {
  text-align: center;
  color: #9ACD32;
  margin: 10px 0 -10px 0;
}

.error {
  text-align: center;
  color: #D84742;
  margin: 10px 0 -10px 0;
}